<p id="notice"><%= notice %></p>

<div class="index">
  <!-- Masthead -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <h1 class="text-white font-weight-bold">Sistema de Controle de Cursos</h1>
          <hr class="my-4">
        </div>
      </div>
    </div>
  </header>
</div>